<!DOCTYPE HTML>
<html>
	<head>
		<title>Mostafa | Personal Card</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="static/assets/js/html5shiv.js"></script>
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/ie9.css" />
		<link rel="stylesheet" href="static/assets/css/ie8.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/avatar.jpg" hight="45%" width="45%" alt="" /></span>
							<h1>Mostafa Koolabadi</h1>
							<p>Web Developer</p>
						</header>						
						<hr />					
						<footer>
							<ul class="icons">
								<li><a href="#" class="fa-whatsapp">Whatsapp</a></li>
								<li><a href="#" class="fa-instagram">Instagram</a></li>
								<li><a href="#" class="fa-linkedin">linkedin</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Mostafa Koolabadi</li>
							<li>Design With Love ❤️</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/respond.min.js"></script>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>